body {
  /*font-family: 'Permanent Marker', cursive;*/
  font-family: 'Rock Salt', cursive;
}

#whiteboard {
  background-image: url("../images/Whiteboard_with_markers.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  color: #232D9C;
}

h2 {
  font-family: 'Rock Salt', cursive;
  text-decoration: underline;
  text-underline-position: below;
}

h3 {
  font-family: 'Rock Salt', cursive;
  text-decoration: underline;
  text-underline-position: below;
}

#music {
  -webkit-transform: rotate(-15deg);
   -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
     -o-transform: rotate(-15deg);
        transform: rotate(-15deg);
}

#school {
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}


#work {
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

li {
  font-family: 'Gochi Hand', cursive;
  font-size: 2rem;
}

#doggie img {
  max-width: 75%
}

/*#doggie h3 {*/
/*  text-align: center;*/
/*}*/

#work img {
  max-width: 75%;
  margin-bottom: 20px;
}
svg {
  height: 3rem;
  width: 3rem;
}
